@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 80vw;
    }
    section#login > div#img {
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#form {
        float: right;
        width: 65%;
    }
    body > main > section#login > div#form > h1 {
        font-size: 35px;
    }
    body > main > section#login > div#form > p {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 993px) {
    
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }
    section#login {
        width: 990px;
    }
    section#login > div#img {
        float: right;
        width: 50%;
        height: 100%;
        background-position: left bottom;
    }
    section#login > div#form {
        float: left;
        width: 50%;

    }
    body > main > section#login > div#form > h1 {
        font-size: 45px;
    }
    body > main > section#login > div#form > p {
        font-size: 1.2em;
    }
}